Email
{{input value=model.email}}
Password
{{input type='password' value=model.password}}

<button class='btn btn-primary' {{action 'createSession'}}>Create Session</button><button class='btn btn-primary' {{action 'destroySession'}}>Destroy Session</button>